Jinja2==2.7.1
MarkupSafe==0.18
Pattern==2.6
PyYAML==3.10
boto==2.15.0
distribute==0.6.45
ipython==1.1.0
matplotlib==1.3.0
mrjob==0.4.1
numpy==1.7.1
pandas==0.12.0
pyparsing==1.5.6
python-dateutil==1.5
pytz==2013b
pyzmq==2.2.0.1
requests==2.0.0
scikit-learn==0.14.1
scipy==0.12.0
simplejson==3.3.1
six==1.4.1
tornado==3.1.1
wsgiref==0.1.2
